.check_title{
margin-top:100px;
text-align:center;
color:#5e5c5c;
}
.invite_btn{
font-family:didot-w01-italic, serif;
}

.check_title{
font-family:didot-w01-italic, serif;
font-family:"Alex Brush", sans-serif;
color:rgb(26, 26, 26);
}
.check-btn{
margin:auto;
text-align:center;
padding:10px;
}
