

.photo_example img{
    width: 100%;
    height:100%;
    }
    
    .photo_example{
    width:100%;
    margin:auto;
    margin-top:65px;
    }
    
    .names_title{
    font-family:"Alex Brush", sans-serif;
    font-size:104px;
    color:#5e5c5c;
    margin-top:100px;
    text-align:center;
    }
    
    .sub_title{
    font-family: lobster, cursive;
    text-align:center;
    font-size:30px;
      width: 350px;
      height:50px;
      margin:auto;
      background-color:#EAB6B8;
    }
    
    .countdown{
    background-color:#9BA17B;
    color:white;
    width:300px;
    margin:auto;
    margin-top:30px;
    text-align:center;
    }
    .div_btn{
    clear:both;
    margin:auto;
    text-align:center;
    margin-top:450px;
    }

    .div_btn_sent{
        clear:both;
        margin:auto;
        text-align:center;
        margin-top:50px;
    }

    .invite_btn{
    background-color:white;
    color:black;
    }
    .div_btn i{
    color: #70A076;
    }
    .invite_btn:hover{
    background-color: #70A076;
    color:white;
    }
    .div_btn i:hover{
    color:white;
    }
    
    .container{
    background-color:rgb(247, 247, 247);
    width:100%;
    }
    
    .date{
    font-family:"Alex Brush", sans-serif;
    color:rgb(41, 41, 41);
    text-align:center;
    }
    .place{
       font-family: "Poppins", sans-serif;
       font-size:13px;
       text-align:center;
    }
    
    
    /* countdown*/
    
    .countdown-show3{
        width: 100%;
        margin:auto;
        overflow:hidden;
        padding:10px;
        text-align: center;
    }
    
    
     .countdown-section {
        background-color: #FFF;
        float: left;
        font-size: 75%;
        border-right: 1px solid rgba(214,214,214,0.4);
        margin:5px;
        padding:10px;
        margin-left:30px;
    }
    
    
    .countdown-period {
        display: block;
        color: #282828;
    }
    .countdown-amount {
        font-size: 200%;
        color: #70A076;
        min-width: 70px;
        padding-bottom: 0;
        font-size: 35px;
        font-weight: 400;
    }
    
    
    .flower{
    margin-top:30px;
    }
    
    .megan-piture img{
     width:50%;
     float:left;
     height:400px;
     object-fit:cover;
    }
    .date-count{
    width:50%;
    float:left;
    height:400px;
    }

@media only screen and (max-width: 1170px){
   
    .names_title{
        font-size:30px;
    }

    .megan-piture img{
        width:100%;
        float:none;
    }

    .date-count{
        width:100%;
        float:none;
        height:400px;
        margin-top:30px;
        margin-left:auto;
    }
    .countdown-show3{
        padding:5px;
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap:20px;
        grid-column-gap:20px;
        justify-content: center;
    }

    .countdown-section {
        border-right: 1px solid rgba(214,214,214,0.4);
        margin:auto;
        float:none;
    }


    .countdown-amount {
        font-size: 200%;
        color: #70A076;
        min-width: 70px;
        padding-bottom: 0;
        font-size: 15px;
        font-weight: 400;
    }

     
    .flower img{
        margin-top:30px;
        width:100%;
    }

    .div_btn{
        margin:15%;
    }

    .contact-number{
        padding: 20px;
    }

    .card{
        margin-top:20%;

    }
}