{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="names_title">
  <p>Accomodation</p>
</div>

<div class="acomodation-container">

  <div class="acomodation-card">
    <a href="https://www.booking.com/hotel/gb/lanelay-hall.en-gb.html?aid=311076;label=llanerch-vineyard-hensol-tSj9rFgpkplOTWQunW0CRwS459366096945%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-59822994333%3Alp1007410%3Ali%3Adec%3Adm;sid=704ba652626c1b7605c536b39060ed92;all_sr_blocks=254290303_269846219_0_2_0;checkin=2022-07-22;checkout=2022-07-23;dest_id=900039590;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=1;highlighted_blocks=254290303_269846219_0_2_0;hpos=1;matching_block_id=254290303_269846219_0_2_0;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;sr_pri_blocks=254290303_269846219_0_2_0__16000;srepoch=1637618068;srpvid=a9d59a093b32002e;type=total;ucfs=1;sig=v1ShDDcPEe&#hotelTmpl">
      <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/156070750.webp?k=80612cf0a19e31613149edb1e1faa846643c2a3a269fe5ddf562492ad636e25b&o=&s=1" alt="Lanelay Hall Hotel"></a>
     <div class="container">
      <h4><b>Lanelay Hall Hotel & Spa</b></h4>
    </div>
  </div>

  <div class="acomodation-card">
    <a href="https://www.booking.com/hotel/gb/vale-hotel.en-gb.html?aid=311076&label=llanerch-vineyard-hensol-tSj9rFgpkplOTWQunW0CRwS459366096945%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-59822994333%3Alp1007410%3Ali%3Adec%3Adm&sid=704ba652626c1b7605c536b39060ed92&all_sr_blocks=37528_173793470_0_2_0&checkin=2022-07-22&checkout=2022-07-23&dest_id=900039590&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=3&highlighted_blocks=37528_173793470_0_2_0&hpos=3&matching_block_id=37528_173793470_0_2_0&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=37528_173793470_0_2_0__18000&srepoch=1637618068&srpvid=a9d59a093b32002e&type=total&ucfs=1&sig=v18yETwMd5&activeTab=main">
      <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/4080009.webp?k=52ad57cdc7987f2c88aae51a15765e11c043ea5e48c22e4669b1be34ed25a5f9&o=&s=1" alt="Lanelay Hall Hotel"></a>
    <div class="container">
      <h4><b>Vale Resort</b></h4>
    </div>
  </div>

 <div class="acomodation-card">
    <a href="https://www.booking.com/hotel/gb/haveli.en-gb.html?aid=356287;label=metatripad-link-dmetagb-hotel-2542903_xqdz-8d298a77d29de77639c5439f35d9723e_los-01_bw-240_dom-couk_curr-GBP_gst-02_nrm-01_clkid-732bdfe8-39ca-4fa5-83b2-612d9f2752d7_aud-0000_mbl-M_pd-T_sc-2_defdate-0_spo-0_clksrc-0_mcid-10;sid=704ba652626c1b7605c536b39060ed92;all_sr_blocks=46590801_309343392_0_0_0;checkin=2022-07-22;checkout=2022-07-23;dest_id=900039590;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=1;highlighted_blocks=46590801_309343392_0_0_0;hpos=1;map=1;matching_block_id=46590801_309343392_0_0_0;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;sr_pri_blocks=46590801_309343392_0_0_0__7500;srepoch=1637783497;srpvid=09268ba45787003d;type=total;ucfs=1;sig=v1WOzY4K4-&#map_closed">
      <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/13182180.webp?k=9eb321570646f46240e4c7ada1e1a0f0b70f5c0bace65876890832f018597716&o=&s=1" alt="Lanelay Hall Hotel"></a>
    <div class="container">
      <h4><b>Haveli Hotel</b></h4>
    </div>
  </div>

  <div class="acomodation-card">
    <a href="https://www.booking.com/hotel/gb/copthornecardiff.en-gb.html?aid=356287;label=metatripad-link-dmetagb-hotel-2542903_xqdz-8d298a77d29de77639c5439f35d9723e_los-01_bw-240_dom-couk_curr-GBP_gst-02_nrm-01_clkid-732bdfe8-39ca-4fa5-83b2-612d9f2752d7_aud-0000_mbl-M_pd-T_sc-2_defdate-0_spo-0_clksrc-0_mcid-10;sid=704ba652626c1b7605c536b39060ed92;all_sr_blocks=7461_335003481_2_2_0;checkin=2022-07-22;checkout=2022-07-23;dest_id=900039590;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=4;highlighted_blocks=7461_335003481_2_2_0;hpos=4;matching_block_id=7461_335003481_2_2_0;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;sr_pri_blocks=7461_335003481_2_2_0__11745;srepoch=1637783497;srpvid=09268ba45787003d;type=total;ucfs=1;sig=v1DsP35NVL&#hotelTmpl 
    "><img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/192876148.jpg?k=54ea2970e8a4223e020c16cb7e8d531d48757385b1614be6766966534c68b39f&o=&hp=1" alt="Lanelay Hall Hotel"></a>
    <div class="container">
      <h4><b>The Copthorne Hotel</b></h4>
    </div>
  </div>

  <div class="acomodation-card">
    <a href="https://www.booking.com/hotel/gb/the-bear.en-gb.html?aid=356287;label=metatripad-link-dmetagb-hotel-2542903_xqdz-8d298a77d29de77639c5439f35d9723e_los-01_bw-240_dom-couk_curr-GBP_gst-02_nrm-01_clkid-732bdfe8-39ca-4fa5-83b2-612d9f2752d7_aud-0000_mbl-M_pd-T_sc-2_defdate-0_spo-0_clksrc-0_mcid-10;sid=704ba652626c1b7605c536b39060ed92;all_sr_blocks=3576708_204191426_2_1_0;checkin=2022-07-22;checkout=2022-07-23;dest_id=900039590;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=16;highlighted_blocks=3576708_204191426_2_1_0;hpos=16;matching_block_id=3576708_204191426_2_1_0;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;sr_pri_blocks=3576708_204191426_2_1_0__21250;srepoch=1637783497;srpvid=09268ba45787003d;type=total;ucfs=1;sig=v1iX1E-YkZ&#hotelTmpl 
    "><img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/332125703.jpg?k=ef9535f9ecdb0a61ccade05ee9ae1e04b02b5ffb68025822e33e88574ad92fd9&o=&hp=1" alt="Lanelay Hall Hotel"></a>
    <div class="container">
      <h4><b>The Bear Hotel</b></h4>
    </div>
  </div>

  <div class="acomodation-card">
    <a href="https://www.airbnb.co.uk/s/Hensol-Castle--Hensol--Pontyclun/homes?adults=2&place_id=ChIJ-Ybr9ZgRbkgRDDOOjFhtbXg&checkin=2022-07-22&checkout=2022-07-23 
    "><img src="https://a0.muscache.com/im/pictures/miso/Hosting-53078240/original/ef758b8e-e500-44d2-a4c5-f0d53d81004b.jpeg?im_w=720" alt="Lanelay Hall Hotel"></a>
    <div class="container">
      <h4><b>Airbnb</b></h4>
    </div>
  </div>
</div>


<footer>

</footer>

{% endblock content %}