{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">

    <div class="names_title">
        <p>Contact</p>
    </div>

   <div class="sub-container">
    <div class="megan-piture">
        <img src="{% static 'images/megan_picture.jpeg' %}">
    </div>

    <div class="date-count">
    <h2 class="date">July 22th, 2022</h2>

    <p class="place">Llanerch Vineyard, Hensol Road Cardiff,<br> CF72 8GG</p>

    <div class="countdown-row countdown-show3">

        <div class="contact-number card">
        <div class="countdown-amount">07730011989</div>
        <div class="countdown-period">Megan Number:</div><br>
        <div class="countdown-amount">07512424644</div>
        <div class="countdown-period">Matthew Number:</div>
      </div>
        </div>

        <div class="text-center flower">
     <img src="{% static 'images/green-flower.png' %}">
    </div>

    </div>

</div>


</div>
<footer>

</footer>

{% endblock content %}