{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">

    <div class="names_title">
        <p>Megan & Matthew</p>
    </div>
    
   <div class="sub-container">
    
    <div class="megan-piture">
        <img src="{% static 'images/megan_picture.jpeg' %}">
    </div>

    <div class="date-count">
    <h2 class="date">July 22th, 2022</h2>
    <p class="place">Llanerch Vineyard, Hensol Road Cardiff,<br> CF72 8GG</p>

    <div class="countdown-row countdown-show3">
        <div class="countdown-section">
        <div class="countdown-amount" id="days">00</div>
        <div class="countdown-period">DAYS</div>
      </div>

    <div class="countdown-section">
        <div class="countdown-amount" id="hours">00</div>
        <div class="countdown-period">HOURS</div>
    </div>

     <div class="countdown-section">
        <div class="countdown-amount" id="minutes">00</div>
        <div class="countdown-period">MINS</div>
    </div>

     <div class="countdown-section">
        <div class="countdown-amount"  id="seconds">00</div>
        <div class="countdown-period">SECS</div>
    </div>
        </div>

    <div class="text-center flower">
     <img src="{% static 'images/green-flower.png' %}">
    </div>

    </div>
</div>

    <div class="div_btn">
        <a href="{% url 'check_guest' %}"><button class="btn invite_btn"><i class="far fa-hand-point-right"></i> Click here for invite</button></a>
    </div>


</div>

<!--FOOTER OF THE PAGE-->
<footer>

</footer>

{% endblock content %}